<h1>Сброс пароля</h1>
<p>Кто-то (возможно вы) запросил сброс пароля.</p>
<p>
    Для сброса пароля перейдите по ссылке:<br>
    <a href="{{ absolute_url(path('reset_password', { token: token })) }}">Сбросить пароль</a>
</p>
